{% extends "base.html" %}
{% block title %}Recipe:{{ recipe.name }}{% endblock %}

{% block content %}
<div class="container">

  <div class="row">
    <div class="col-sm-12">
      <p>{{ recipe.name }}</p>
      {% if recipe.detail %}
        <p>{{ recipe.detail }}</p>
      {% endif %}
    </div>
  </div>


<!-- Action buttons -->
<div class="row">

  <div class="col-sm-12">
<!---->

    <a class="btn btn-primary" href="{% url 'recipes:create' %}" role="button">create</a>
    <a class="btn btn-success" href="{% url 'recipes:update' recipe.id %}" role="button">edit</a>
    <a class="btn btn-danger" href="{% url 'recipes:delete' recipe.id %}" role="button">delete</a>
    <a class="btn btn-info" href="{% url 'recipes:list' %}" role="button">return</a>

    <!-- Your Stuff: Custom recipe template urls -->
  </div>

</div>

</div>
{% endblock content %}

